Order Deny,Allow
Deny from all

<FilesMatch "^(form|akismet)\.(css|js)$">
	Allow from all
</FilesMatch>

#allow access to any image
<FilesMatch "^(.+)\.(png|gif)$">
	Allow from all
</FilesMatch>

php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value max_execution_time 500
php_value max_input_time 500